---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<header class="header">
		<div class="tit">
			<h1 class="header-title">&nbsp;</h1>
		</div>
	</header>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
